
<ion-header>
    <ion-navbar>
        <ion-title>{{'Gift Tracker' | translate}}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content  pullingIcon="arrow-dropdown"
        pullingText="{{'Pull to refresh' | translate}}"
        refreshingSpinner="circles"
        refreshingText="{{'Refreshing...' | translate}}">
    </ion-refresher-content>
</ion-refresher>

<div class="top-nav nav-adjust">
    <p>{{'Balance Points' | translate}}</p>
    <h1>{{total_balance_point}}</h1>
</div>
<div class="transaction-list"  >
    <div class="his-listing" *ngFor="let list of transaction_detail; let i=index">
        <button ion-item class="main-list" (click)=" goOnShippingPage(list.id,list.offer_gift_id) " >
            <div class="tr-content">
                <div class="inner">
                    <div class="tr-cicle" *ngIf="list.gift_status=='Pending'">
                        <i class="material-icons">watch_later</i>
                    </div>
                    <div class="tr-cicle tr-cicle1" *ngIf="list.gift_status=='Reject'">
                        <i class="material-icons reject">cancel</i>
                    </div>
                    <div class="tr-cicle tr-cicle2" *ngIf="list.gift_status=='Approved'">
                        <i class="material-icons" >thumb_up</i>
                    </div>
                    <div class="tr-tags">
                        <h2>{{'Request' | translate}} <ng-container>{{list.gift_status!='Pending' ? list.gift_status: 'Sent'}}</ng-container></h2>
                        <h1 style="white-space:normal">{{list.gift_title | titlecase}}</h1>
                        <p> {{'Req Id' | translate}} : {{list.invoice_id }}</p>
                        <span *ngIf="list.gift_status=='Reject' && receive_status != ''">{{list.reject_reason | titlecase}}</span>
                    </div>
                </div>			
                <div class="tr-points"  >
                    <h2>{{list.gift_points}}</h2>
                    <p>{{'Points' | translate}}</p>
                    <span class="refund" *ngIf="list.gift_status=='Reject' && receive_status != ''">{{'Refunded' | translate}}</span>
                </div>
            </div>
        </button>
        <div class="tr-status" *ngIf="list.gift_status=='Pending'">
            <div class="tag">
                <h1>{{list.date_created |date:'d MMMM y'}}</h1>
            </div>
            <div class="pending">
                <p>{{list.gift_status}}</p>
            </div>
        </div>
        <div class="tr-status" *ngIf="list.gift_status=='Reject'" >
            <div class="tag">
                <h1>{{list.date_created |date:'d MMMM y'}}</h1>
            </div>
            <div class="reject">
                <p>Rejected</p>
            </div>
        </div>
        <div class="tr-status" *ngIf="list.receive_status=='Received'" >
            <p class="green">{{'Complete' | translate}}</p>
        </div>
        <div class="tr-status" *ngIf="list.gift_status=='Approved'">
            <div class="tag">
                <h1>{{list.date_created |date:'d MMMM y'}}</h1>
            </div>
            <div class="approved">
                <p>{{list.gift_status}}</p>
            </div>
        </div> 
       
        <div class="tr-status" *ngIf="list.receive_status=='Shipped'" >
            <div class="tag btn-received">
                <p>Have you received the product? 
                    <span class="yes_btn" (click)="recvConfirmation(list.id)">yes</span>
                </p>
                <!-- <button (click)="recvConfirmation(list.id)">{{'Receive' | translate}}</button> -->
            </div>
            <!-- <div class="transfer" >
                <p>Receive</p>
            </div> -->
        </div>
        
        <div class="tr-status"  *ngIf="list.receive_status=='Received'">
            <div class="tag">
                <h1>{{'Receive on' | translate}} : {{list.received_date | date:'d MMMM y'}}</h1>
            </div>
            <div class="received">
                <p>{{'Receive' | translate}}</p>
            </div>
        </div>
        
        <div class="chatus"  *ngIf="list.receive_status!='Received'">
            <button ion-button icon-start  clear outline (click)="helpChat(list.invoice_id)">
                <ion-icon name="chatboxes"></ion-icon>
                Have any query? Chat with us!
            </button>
        </div>
    </div>
    <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)"  *ngIf="flag!=1">
        <ion-infinite-scroll-content
        loadingSpinner="bubbles"
        loadingText="{{'Loading more data...' | translate}}">
    </ion-infinite-scroll-content>
</ion-infinite-scroll>
<div class="h100"></div>
</div>		
</ion-content>
