page-feedback {
    
    .chat
    {
        padding-left:0;
        margin:0;
        list-style-type:none;
        overflow-y:scroll;
        // height:450px;
        border-top:2px solid #fff;
        border-bottom:2px solid #fff;
        
        ul
        {
            li
            {
                padding:10px 16px;
                padding-bottom: 0px;
                
                h2, h3
                {
                    display:inline-block;
                    font-size:10px;
                    font-weight:normal;
                }
                
                h3
                {
                    color: #a7a4a4;
                }
                
                
                .message
                {
                    padding:5px 10px;
                    color:#fff;
                    font-size: 12px;
                    line-height:20px;
                    max-width:90%;
                    display:inline-block;
                    text-align:left;
                    
                    
                    
                }
                
                &:last-child
                {
                    padding-bottom: 16px;
                }
                
                
                &.you
                {
                    .message
                    {
                        background-color:#e6e6e6;
                        position: relative;
                        color: #000000;
                        border-radius: 0px 15px 15px 15px;
                        
                        &.img-type
                        {
                            background-color: #f8f8f8 !important;
                            border: 2px solid #dcdcdc;
                            
                            img
                            {
                                width: 160px;
                                height: 120px;
                            }
                        }
                        
                    }
                }
                &.me
                {
                    text-align:right;
                    
                    .message
                    {
                        background-color:#0569da;
                        position: relative;
                        border-radius: 15px 15px 0px 15px;
                        
                        &.img-type
                        {
                            background-color: #f8f8f8 !important;
                            border: 2px solid #0569da;
                            
                            img
                            {
                                width: 160px;
                                height: 120px;
                            }
                        }
                    }
                    
                }
            }
        }
    }
    
    .chat-message
    {
        padding: 0px 16px;
        padding-bottom: 20px;
        height: 60px;
        position: relative;
        display: flex;
        align-items: center;
        
        textarea
        {
            width: 100%;
            min-height: 40px;
            height: 40px;
            padding: 10px;
            max-height: 100%;
            resize: none;
            border-radius: 50px;
            font-size: 12px;
            box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.5);
            resize: none;
            padding-right: 35px;
        }
        
        a
        {
            &.send-btn
            {
                line-height: 0px;
                min-width: 40px;
                height: 40px;
                width: 40px;
                background: #0569da;
                border-radius: 40px;
                display: flex;
                align-items: center;
                justify-content: center;
                color: #ffff;
                box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.3);
                margin-left: 10px;
                
                
                
                i
                {
                    font-size: 20px;
                }
            }
            
            &.attachment
            {
                line-height: 0px;
                min-width: 36px;
                height: 36px;
                width: 36px;
                background: #fff;
                border-radius: 36px;
                display: flex;
                align-items: center;
                justify-content: center;
                position: absolute;
                right: 67px;
                
                i
                {
                    font-size: 20px;
                    color: #b1b1b1;
                }
            }
            
            
        }
    }
    
}
