
<ion-header>
  <ion-navbar>
    <ion-title>{{'Description / Terms & Condition' | translate}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
	<div class="fix">
		<div class="bg-banner">
			 <img src="{{uploadUrl+terms_detail.offer_banner}}">
		</div>
	</div>
	<div class="terms-text"  *ngIf="terms_detail.description != ''">
	<h6>{{'Description'}}</h6>	
		<p [innerHTML]="terms_detail.description"></p>
	</div>
	<div class="terms-text"  *ngIf="terms_detail.terms != ''">
		<h6>{{'Terms & Condition'}}</h6>	
			<p [innerHTML]="terms_detail.terms"></p>
		</div>

</ion-content>
