<ion-header>
    <ion-navbar>
        <ion-title>{{'Profile' | translate}}</ion-title>
        <div class="header-icons">
            <button ion-button class="cs-hdr-icons mr16" (click)="logout()">
                <i class="material-icons">power_settings_new</i>
            </button>
        </div>
    </ion-navbar>
</ion-header>
    <ion-content padding>
        <div class="profile-container">
            <div class="background-white hero"></div>
            <div class="user-profile">
                <div class="dp">
                    <div class="dp-hidden">
                        <img src="assets/imgs/man.svg" *ngIf="karigar_detail.profile ==''">
                        <img src="{{uploadUrl+karigar_detail.profile}}" *ngIf="karigar_detail.profile" (click)="viewProfiePic()">
                    </div>
                    <a class="cmra-btn"><i class="material-icons" (click)="openeditprofile()">camera_alt</i></a>
                </div>
                <h2>{{karigar_detail.first_name |titlecase}}</h2>
                <h6>{{karigar_detail.type}}</h6>
                <p class="{{karigar_detail.status}}">
                    {{karigar_detail.status}}
                    <i class="material-icons Verified " *ngIf="karigar_detail.status =='Verified'">verified_user </i>
                    <i class="material-icons Pending " *ngIf="karigar_detail.status =='Pending'">update</i>
                    <i class="material-icons Suspect " *ngIf="karigar_detail.status =='Suspect'">help</i>
                    <i class="material-icons Reject " *ngIf="karigar_detail.status =='Reject'">cancel</i>
                </p>
                
                <button class="edit" (click)="updateProfile()"> <i class="material-icons">edit</i></button>
                
            </div>
            
            
            <div class="padding16">
                <div class="profile-card">
                    <div class="text-box"  *ngIf="karigar_detail.user_type!=1">
                        <p>{{ 'Company Name' | translate }}</p>
                        <h6>{{karigar_detail.company_name | titlecase}}</h6>
                    </div>

                    <div class="text-box">
                        <p>{{ 'Mobile No.' | translate }}</p>
                        <h6>{{karigar_detail.mobile_no}}</h6>
                    </div>
                    <div class="text-box" *ngIf="karigar_detail.whatsapp_mobile_no">
                        <p>{{ 'Whats App Number' | translate }}</p>
                        <h6>{{karigar_detail.whatsapp_mobile_no}}</h6>
                    </div>
                    <!-- <div class="text-box"  *ngIf="karigar_detail.email">
                        <p>{{ 'Email ID' | translate }}</p>
                        <h6>{{karigar_detail.email}}</h6>
                    </div> -->
                    <div class="text-box">
                        <p>{{ 'Date of Birth' | translate}}</p>
                        <h6>{{(karigar_detail.dob !='0000-00-00') ? (karigar_detail.dob| date:'d MMM,y'):('----')}}</h6>
                    </div>
                    <div class="text-box">
                        <p>{{ 'Address' | translate}}</p>
                        <h6>{{karigar_detail.address |titlecase}} {{karigar_detail.state |titlecase}} {{karigar_detail.district |titlecase}} {{karigar_detail.city |titlecase}} {{karigar_detail.pincode }}</h6>
                    </div>
                </div>
             
                
                <div class="profile-card"  *ngIf="karigar_detail.document_image && karigar_detail.document_type && karigar_detail.document_no">
                    <div class="text-center">
                        <h2>{{ 'Document Information' | translate }}</h2>
                    </div>
                    <div class="text-box">
                        <div class="doc-box">
                            <img src="{{uploadUrl + karigar_detail.document_image}}" (click)="viewDoc()">
                        </div>
                    </div>
                    <div class="text-box">
                        <p>{{karigar_detail.document_type}}</p>
                        <h6>{{karigar_detail.document_no}}</h6>
                    </div>
                </div>
                <div class="profile-card" *ngIf="karigar_detail.user_type=='1'">
                    <div class="text-center">
                        <h2>{{ 'Dealer Information' | translate }}</h2>
                    </div>
                    <div class="text-box">
                        <p>{{'Counter Name' | translate}}</p>
                        <h6>{{karigar_detail.parent_counter_name ? karigar_detail.parent_counter_name:'---'}}</h6>
                    </div>
                    <div class="text-box">
                        <p>{{'Contact Person' | translate}}</p>
                        <h6>{{ karigar_detail.parent_counter_contact_person ? karigar_detail.parent_counter_contact_person:'---'}} </h6>
                    </div>
                    <div class="text-box">
                        <p>{{'Mobile No.' | translate}}</p>
                        <h6>{{karigar_detail.parent_counter_mobile ? karigar_detail.parent_counter_mobile:'---'}}</h6>
                    </div>
               
                </div>
                <div class="profile-card" >
                    <div class="text-center">
                        <h2>{{ 'Bank Information' | translate }}</h2>
                    </div>

                    <div class="text-box">
                        <div class="doc-box">
                            <img src="{{uploadUrl + karigar_detail.cheque_image}}" (click)="viewDoc()">
                        </div>
                    </div>

                    <div class="text-box">
                        <p>{{'Account Holder Name' | translate}}</p>
                        <h6>{{karigar_detail.account_holder_name ? karigar_detail.account_holder_name:'---'}}</h6>
                    </div>
                    <div class="text-box">
                        <p>{{'Bank Name' | translate}}</p>
                        <h6>{{karigar_detail.bank_name ? karigar_detail.bank_name:'---'}}</h6>
                    </div>
                    <div class="text-box">
                        <p>{{'Account No.' | translate}}</p>
                        <h6>{{ karigar_detail.account_no ? karigar_detail.account_no:'---'}} </h6>
                    </div>
                    <div class="text-box">
                        <p>{{'IFSC Code' | translate}}</p>
                        <h6>{{karigar_detail.ifsc_code ? karigar_detail.ifsc_code:'---'}}</h6>
                    </div>
               
                </div>
                
                <div class="profile-card">
                    <div class="text-center">
                        <h2>{{ 'Referral Code Information' | translate }}</h2>
                        <a class="share" (click)="ShareApp()"><i class="material-icons">share</i></a>
                    </div>
                    
                    <div class="text-box">
                        <p>{{'Referral Code' | translate}}</p>
                        <h6 style="text-transform: uppercase;">{{karigar_detail.referral_code ? karigar_detail.referral_code : '---'}}</h6>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>