page-home {
    
    
    
    ion-icon img{
        filter: invert(1) !important;
    }
    
    .share-text{
        font-size: 11px;
        text-transform: capitalize;
    }
    
    ion-icon{
        .profile-thumbnail {
            width: 35px;
            height: 35px;
            border-radius: 100%;
            background: white;
            display: flex;
            align-items: center;
            justify-content: center;
            overflow: hidden;
            border: 2px solid #fff;
            
            img{
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
    }


 
    ion-icon{
        .profile-thumbnail {
            width: 35px;
            height: 35px;
            border-radius: 100%;
            background: white;
            display: flex;
            align-items: center;
            justify-content: center;
            overflow: hidden;
            border: 2px solid #fff;
            
            .icons img {
                width: 25px !important;
                height: 25px !important;
                object-fit: cover;
            }
        }
    }


  
    
    .center-card {
        border-radius: 10px;
        background: -webkit-linear-gradient(to top, #703f12, #ff7a00);
        background: linear-gradient(to top, #703f12, #ff7a00);
        box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.3);
        padding: 5px 16px;
        margin-top: 32px;
        position: relative;
        padding-top: 40px;
        
        
        .cs-profile {
            position: absolute;
            top: -25px;
            left: 50%;
            transform: translateX(-50%);
            width: 55px;
            height: 55px;
            border-radius: 100%;
            overflow: hidden;
            border: 2px solid #fff;
            background: #fff;
            box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.3);
            
            img{
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
        
        
        .profile-progress {
            text-align: center;
            
            p{
                font-size: 12px;
                color: #fff;
                
                span{
                    font-weight: 600;
                }
            }
            
            .out {
                width: 100%;
                height: 16px;
                background: #fff;
                margin: 10px 0px;
                border-radius: 10px;
                position: relative;
                overflow: hidden;
                
                .in{
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 50%;
                    height: 100%;
                    background: -webkit-linear-gradient(to left, #2a7a0e, #52c234);
                    background: linear-gradient(to left, #2a7a0e, #52c234);
                    border-top-right-radius: 10px;
                    border-bottom-right-radius: 10px;
                }
            }
            
            h1{
                font-size: 16px;
                color: #fff;
            }
            
            h2{
                font-size: 14px;
                font-weight: 600;
                color: #fff;
                line-height: 22px;
            }
        }
        
        .top-block {
            display: flex;
            grid-column-gap: 10px;
            align-items: center;
            
            .cs-name{
                width: 100%;
                text-align: center;
                border: 2px solid #ff7a00;
                border-radius: 8px;
                overflow: hidden;
                margin-top: 16px;
                
                h2{
                    font-size: 16px;
                    color: #fff;
                    font-weight: 600;
                    line-height: 22px;
                    padding: 10px 0px !important;
                }
                
                p{
                    font-size: 13px;
                    color: #fff;
                    background: #ff7a00;
                    padding: 5px 0px !important;
                }
            }
        }
    
    }
    
    .outline-btn {
        margin-top: 16px;
        border: 2px solid #000;
        text-align: center;
        padding: 16px;
        border-radius: 8px;
        font-size: 18px;
        margin-bottom: 16px;
    }


    .sidebar {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 10;
        background: rgba(0,0, 0, 0.3);
        width: 0;
        height: 100%;
        transition: linear 0.3s;

        &.active{
            width: 100%;
            
        }
    }

    .side-menu {
        width: calc(100% - 20%);
        height: 100%;
        overflow: auto;
        padding-bottom: 50px;
        background: #fff;
    }

    .icons img {
        width: 27px !important;
        height: 27px !important;
        object-fit: cover;
    }
    
}
