<ion-header>
    <ion-navbar>
        <ion-title>{{'Latest News' | translate}}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <div class="latest-news">
        <div class="news-list" *ngFor="let list of news_list;let i=index" (click)="goOnNewsDetailPage(list.id)">
            <div class="thumb"><img src={{list.image}} alt=""></div>
            <div class="desc">
                <div class="d-data">
                    <p>{{list.source}}</p>
                    <p><i class="material-icons">date_range</i> {{list.date_created | date:'d MMMM y'}}</p>
                </div>

                <div class="description">
                    <p>{{lang !='en' ? list.hin_title : list.title | lowercase |titlecase}}</p>
                </div>
            </div>
        </div>
    </div>

    <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)" *ngIf="flag!=1">
        <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="{{'Loading more data...' | translate}}">
        </ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>