<ion-header>
    <ion-navbar>
        <ion-title  *ngIf="!data.id">{{'Registration' | translate}}</ion-title>
        <ion-title  *ngIf="data.id">{{'Update Profile' | translate}}</ion-title>
        
    </ion-navbar>
</ion-header>

<ion-content>
    <form #f="ngForm" (ngSubmit)="f.form.valid ? submit() : scrollUp()">
        
        <!-- <div class="heading line"  *ngIf="!data.id">
            <p>{{'Choose Type' | translate}}</p>
        </div> -->
        <!-- <div class="ragistration-fields pt10" *ngIf="!data.id">
            <div class="radio-section pt10">
                <ion-list radio-group name="user_type" [(ngModel)]="data.user_type" #user_type="ngModel" required>
                    <ion-item>
                        <ion-radio value="1"></ion-radio>
                        <ion-label>{{'Electrician' | translate}}</ion-label>
                    </ion-item>
                    
                    <ion-item>
                        <ion-label>{{'Dealer' | translate}}</ion-label>
                        <ion-radio value="2"></ion-radio>
                    </ion-item>
                    
                    <ion-item>
                        <ion-label>{{'Distributor'}}</ion-label>
                        <ion-radio value="3"></ion-radio>
                    </ion-item>
                </ion-list>
            </div>
        </div> -->
        
        <div class="heading line">
            <p>{{'Basic Information' | translate}}</p>
        </div>
        <div class="ragistration-fields">
            <div class="left-right align-in-center">
                <div class="left-part">
                    <p class="cls-circle" (click)="openeditprofile()">
                        <i class="material-icons" *ngIf="data.profile == ''">camera_alt</i>
                        <img src="{{data.profile_edit_id ? uploadurl+data.profile : data.profile}}" *ngIf="data.profile != ''">
                    </p>
                </div>
                <div class="right-part cs-form ml0">
                    <ion-list>
                        <!-- <ion-item class="cs-input" [ngClass]="{'error':f.submitted && Company_name?.invalid}" *ngIf="data.type=='Retailer' && data.type=='Mechanic'">
                            <ion-label floating>{{'Company Name'}}*</ion-label>
                            <ion-input type="text" name="Company_name" #Company_name="ngModel" [(ngModel)]="data.Company_name" (ngModelChange)="(data.Company_name!=null)?data.Company_name[0] = data.Company_name[0].toUpperCase():''" (keypress)="namecheck($event)" required></ion-input>
                        </ion-item> -->
                        <ion-item class="cs-input" [ngClass]="{'error':f.submitted && first_name?.invalid}">
                            <ion-label floating>{{'First Name' | translate}}*</ion-label>
                            <ion-input type="text" name="first_name" #first_name="ngModel" [(ngModel)]="data.first_name" (ngModelChange)="(data.first_name!=null)?data.first_name[0] = data.first_name[0].toUpperCase():''" (keypress)="namecheck($event)" required></ion-input>
                        </ion-item>
                        <ion-item class="cs-input" [ngClass]="{'error':f.submitted && last_name?.invalid}">
                            <ion-label floating>{{'Last Name  (optional)' | translate}}</ion-label>
                            <ion-input type="text" name="last_name" #last_name="ngModel" [(ngModel)]="data.last_name" (ngModelChange)="(data.last_name!=null)?data.last_name[0] = data.last_name[0].toUpperCase():''" (keypress)="namecheck($event)" maxlength="10"></ion-input>
                        </ion-item>
                    </ion-list>
                </div>
            </div>
            <!--//////////////// importaint //////////////-->
            
            
            
            <div class="cs-form">
                <ion-list>
                    <ion-item class="cs-input" [ngClass]="{'error':f.submitted && company_name?.invalid}" *ngIf="data.user_type=='2' || data.user_type=='3'">
                        <ion-label floating>{{'Company Name' | translate}}.*</ion-label>
                        <ion-input type="text" name="company_name" #company_name="ngModel" [(ngModel)]="data.company_name" required (keypress)="namecheck($event)"></ion-input>
                    </ion-item>
                    
                    <ion-item class="cs-input" [ngClass]="{'error':f.submitted && mobile_no?.invalid}">
                        <ion-label floating>{{'Mobile No' | translate}}.</ion-label>
                        <ion-input type="number" name="mobile_no" #mobile_no="ngModel" [(ngModel)]="data.mobile_no" required (keypress)="MobileNumber($event)" readonly></ion-input>
                    </ion-item>
                    
                    <!-- <ion-item class="cs-input" [ngClass]="{'error':f.submitted && payment_number?.invalid}">
                        <ion-label floating>{{'Paytm Number' | translate}}</ion-label>
                        <ion-input type="tel" name="payment_number"  minlength="10" maxlength="10" #payment_number="ngModel" [(ngModel)]="data.payment_number"></ion-input>
                    </ion-item> -->
                    
                    
                    <!--//////////////// importaint //////////////-->
                    
                    <ion-item class="cs-input" [ngClass]="{'error':(f.submitted && email?.invalid) || (f.submitted && !email.valid)}">
                        <ion-label floating>{{'Email ID (optional)' | translate}}</ion-label>
                        <ion-input type="text" type="text" name="email" #email="ngModel" [(ngModel)]="data.email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"></ion-input>
                        <p></p>
                    </ion-item>
                    
                    <ion-item class="cs-date mb0" [ngClass]="{'error':f.submitted && dob?.invalid}">
                        <ion-label>{{'Date of Birth (optional)' | translate}}</ion-label>
                        <ion-datetime displayFormat="DD/MM/YYYY" max={{today_date}} type="text" name="dob" #dob="ngModel" [(ngModel)]="data.dob">
                        </ion-datetime>
                    </ion-item>
                </ion-list>
            </div>
        </div>
        
        <div class="heading line">
            <p>{{'Address Information' | translate}}</p>
        </div>
        
        <div class="ragistration-fields">
            <div class="cs-form">
                <ion-list>
                    <ion-item class="cs-input" [ngClass]="{'error':f.submitted && address?.invalid}">
                        <ion-label floating>{{'Address' | translate}}*</ion-label>
                        
                        <ion-input type="text" name="address" #address="ngModel" [(ngModel)]="data.address" (ngModelChange)="caps_add(data.address)" required ></ion-input>
                    </ion-item>
                    
                    <ion-item class="cs-input" [ngClass]="{'error':f.submitted && pincode?.invalid}">
                        <ion-label floating>{{'Pincode' | translate}}*</ion-label>
                        <ion-input type="tel" name="pincode" [(ngModel)]="data.pincode" #pincode="ngModel" required maxlength="6" minlength="6" (input)="getaddress(data.pincode)"></ion-input>
                    </ion-item>
                    
                    
                    <ion-item class="cs-select" [ngClass]="{'error':f.submitted && state?.invalid}">
                        <ion-label>{{'State' | translate}}*</ion-label>
                        <ion-select name="state" [(ngModel)]="data.state" #state="ngModel" (ngModelChange)="getDistrictList(data.state)" required>
                            <ion-option *ngFor="let row of state_list" value="{{row.state_name}}">{{row.state_name}}</ion-option>
                        </ion-select>
                    </ion-item>
                    
                    <ion-item class="cs-select" [ngClass]="{'error':f.submitted && state?.invalid}">
                        <ion-label>{{'District' | translate}}*</ion-label>
                        <ion-select name="district" [(ngModel)]="data.district" #district="ngModel" (ngModelChange)="getCityList(data.district)" required>
                            <ion-option *ngFor="let row of district_list" value="{{row.district_name}}">{{row.district_name}}</ion-option>
                        </ion-select>
                    </ion-item>
                    
                    <ion-item class="cs-input mb0" [ngClass]="{'error':f.submitted && city?.invalid}">
                        <ion-label floating>{{'City' | translate}}*</ion-label>
                        <ion-input type="text" name="city" [(ngModel)]="data.city" #city="ngModel" required></ion-input>
                    </ion-item>
                    
                </ion-list>
            </div>
        </div>
        <!-- /////// Importaint //////////// -->
        
        <div class="heading line">
            <p>{{'Document Information' | translate}}</p>
        </div>
        
        <div class="ragistration-fields">
            <div class="cs-form">
                <ion-list>
                    <ion-item class="cs-select" [ngClass]="{'error':f.submitted && document_type?.invalid}">
                        <ion-label>{{'Select Document' | translate}}</ion-label>
                        <ion-select name="document_type" [(ngModel)]="data.document_type" #document_type="ngModel" required>
                            <ion-option value="Aadharcard">{{'Aadhaar card' | translate}}</ion-option>
                            <!-- <ion-option value="PanCard">{{'Pan Card' | translate}}</ion-option> -->
                            <ion-option value="VoterCard">{{'Voter Card' | translate}}</ion-option>
                        </ion-select>
                    </ion-item>
                    
                    
                    <div class="upload-document" (click)="onUploadChange()">
                        <p *ngIf="data.document_image==''"><i class="material-icons">add_circle</i><br>{{'Upload Document*' | translate}}</p>
                        <img src="{{data.doc_edit_id ? uploadurl+data.document_image : data.document_image}}" *ngIf="data.document_image != ''">
                        
                    </div>


                    
                    
                    
                    <ion-item class="cs-input mb0 mt10" *ngIf="data.document_type=='Adharcard'" [ngClass]="{'error':f.submitted && document_no?.invalid}">
                        <ion-label floating>{{'Aadhaar Number' | translate}}*</ion-label>
                        <ion-input type="tel" name="document_no" #document_no="ngModel" [(ngModel)]="data.document_no" maxlength="12" minlength="12" required></ion-input>
                    </ion-item>
                    
                    <!-- <ion-item class="cs-input mb0 mt10" *ngIf="data.document_type=='PanCard'" [ngClass]="{'error':f.submitted && document_no?.invalid}">
                        <ion-label floating>{{'Pan Card Number' | translate}}*</ion-label>
                        <ion-input type="text" name="document_no" #document_no="ngModel" [(ngModel)]="data.document_no" required></ion-input>
                    </ion-item> -->
                    
                    <ion-item class="cs-input mb0 mt10" *ngIf="data.document_type=='VoterCard'" [ngClass]="{'error':f.submitted && document_no?.invalid}">
                        <ion-label floating>{{'Voter Card Number' | translate}}*</ion-label>
                        <ion-input type="text" name="document_no" #document_no="ngModel" [(ngModel)]="data.document_no" required></ion-input>
                    </ion-item>
                </ion-list>
                <p *ngIf="f.submitted && document_type?.invalid" style="color:red">{{'Upload Document Is Required!' | translate}}</p>

            </div>
        </div>
        
        
        
        
        <ng-container *ngIf="data.user_type=='1'">
            <div class="heading line" >
                <p >{{'Relailer Information/Buying Point' | translate}}</p>
            </div>
            
            <!-- *ngIf="data.user_type!='3'" -->
            <div class="ragistration-fields">
                <div class="cs-form">
                    <ion-list>
                        <ion-item class="cs-input" [ngClass]="{'error':f.submitted && parent_counter_name?.invalid}">
                            <ion-label floating>{{'Shop Name' | translate}}*</ion-label>
                            <ion-input type="text" name="parent_counter_name " pattern="[a-zA-Z ]+" ng-pattern-restrict #parent_counter_name="ngModel" [(ngModel)]="data.parent_counter_name" required></ion-input>
                        </ion-item>
                        
                        <ion-item class="cs-input">
                            <ion-label floating>{{'Contact Person (optional)' | translate}}</ion-label>
                            <ion-input type="text" name="parent_counter_contact_person " #parent_counter_contact_person="ngModel" [(ngModel)]="data.parent_counter_contact_person"></ion-input>
                        </ion-item>
                        <ion-item class="cs-input mb0" [ngClass]="{'error':f.submitted && parent_counter_mobile?.invalid}">
                            <ion-label floating>{{'Mobile No (optional)' | translate}}.</ion-label>
                            <ion-input type="tel" name="parent_counter_mobile " #parent_counter_mobile="ngModel" [(ngModel)]="data.parent_counter_mobile" maxlength="10" minlength="10"></ion-input>
                        </ion-item>
                        <!-- <ion-item class="cs-input">
                            <ion-label floating>{{'Address'}}</ion-label>
                            <ion-input type="text" name="dealer_address " #_address="ngModel" [(ngModel)]="data.dealer_address"></ion-input>
                        </ion-item> -->
                    </ion-list>
                </div>
            </div>
        </ng-container>
        
        
        
        <div class="heading line">
            <p>{{'Bank Information' | translate}}</p>
        </div>
        <div class="ragistration-fields">
            <div class="cs-form">
                <ion-list>
                    <ion-item class="cs-input mb0 mt10" [ngClass]="{'error':f.submitted && account_holder_name?.invalid}">
                        <ion-label floating>{{'Account Holder Name' | translate}}</ion-label>
                        <ion-input type="text"  name="account_holder_name"  ng-pattern-restrict #account_holder_name ="ngModel" [(ngModel)]="data.account_holder_name "></ion-input>
                    </ion-item>
                    
                    <ion-item class="cs-input mb0 mt10" [ngClass]="{'error':f.submitted && bank_name?.invalid}">
                        <ion-label floating>{{'Bank Name' | translate}}</ion-label>
                        <ion-input type="text"  name="bank_name " pattern="[\x00-\x7F]+" ng-pattern-restrict #bank_name ="ngModel" [(ngModel)]="data.bank_name "></ion-input>
                    </ion-item>
                    
                    
                    <ion-item class="cs-input mb0 mt10" [ngClass]="{'error':f.submitted && account_no?.invalid}">
                        <ion-label floating>{{'Account No.' | translate}}</ion-label>
                        <ion-input type="tel" name="account_no " #account_no ="ngModel" [(ngModel)]="data.account_no" minlength="9" maxlength="18"></ion-input>
                    </ion-item>
                    
                    <ion-item class="cs-input mb0 mt10" [ngClass]="{'error':f.submitted && ifsc_code?.invalid}">
                        <ion-label floating>{{'IFSC Code' | translate}}</ion-label>
                        <ion-input type="text"  name="ifsc_code " #ifsc_code ="ngModel" [(ngModel)]="data.ifsc_code"  pattern="^[A-z]{4}[0][A-z0-9]{6}$"></ion-input>
                    </ion-item>	
                    <p class="alert-line" *ngIf="ifsc_code.errors?.pattern">{{'Invaild IFSC Code'   | translate}}</p>



                    <div class="upload-document" (click)="onUploadBank()">
                        <p *ngIf="data.cheque_image==''"><i class="material-icons">add_circle</i><br>{{'Cheque/Passbook Image' | translate}}</p>
                        <img src="{{data.doc_edit_id ? uploadurl+data.cheque_image : data.cheque_image}}" *ngIf="data.cheque_image != ''">
                        
                    </div>
                    
                </ion-list>
            </div>
        </div>
        <ng-container *ngIf="!data.id">
            <div class="heading line">
                <p>{{'Referral Code' | translate}}</p>
            </div>
            <div class="ragistration-fields">
                <div class="cs-form">
                    <ion-list>
                        <ion-item class="cs-input mb0">
                            <ion-label floating>{{'Referral Code (optional)' | translate}}</ion-label>
                            <ion-input type="text" name="referral_code " #referral_code="ngModel" [(ngModel)]="data.referral_code "></ion-input>
                        </ion-item>
                    </ion-list>
                </div>
            </div>
        </ng-container>
        <button ion-button class="cs-btn m0" *ngIf="!data.id">{{'Continue' | translate}}</button>
        <button ion-button class="cs-btn m0" *ngIf="data.id">{{'Update' | translate}}</button>
        
        
    </form>
</ion-content>